.design__overlay__header h2:after, .about__header h2:after, .clients__overlay__header h2:after, .services__header h2:after, .team__header h2:after, .doServices__header h2:after, .ourWork__header h2:after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #f38181;
  display: block;
  position: relative;
  margin: 25px auto;
}

.full__header .navbar ul li .active::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #f6c23a;
  position: absolute;
  display: block;
  margin-top: 15px;
}

.full__header .header h1::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #fff;
  display: block;
  position: relative;
  margin: 20px auto 40px;
}

.slider .carousel-inner h4, .design__overlay__header h4, .about__header h4, .clients__overlay__header h4, .services__header h4, .team__header h4, .testemoniale .carousel-inner h4, .doServices__header h4, .ourWork__header h4 {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
}

.slider .carousel-inner h4::before, .clients .media .trak::after, .testemoniale .carousel-inner h4::before {
  content: "";
  width: 60px;
  display: inline-block;
  margin-right: 5px;
  height: 3px;
  background-color: #f38181;
  position: relative;
}

.members {
  background: #95e1d3;
}
.members h2 {
  font-size: 72px;
}
.members h3 {
  font-size: 14px;
}

.logos {
  background-color: #F8F8F8;
}

.ourWork__header {
  width: 90%;
}
.ourWork__img__caption {
  top: 0;
  background: linear-gradient(rgba(219, 116, 117, 0.8), rgba(228, 205, 125, 0.75));
  opacity: 0;
}
.ourWork__img__caption i {
  font-size: 2rem;
}
.ourWork__img__caption p,
.ourWork__img__caption h5 {
  font-size: 14px;
}
.ourWork__img:hover .ourWork__img__caption {
  opacity: 1;
  transition: all 0.75s;
}

.doServices__header {
  width: 90%;
}
.doServices__header p {
  font-size: 15px;
}
.doServices__colapse .icon {
  right: 0;
  font-size: 1.5rem;
  color: #cccccc;
}
.doServices__colapse i {
  color: #95e1d3;
  font-size: 2rem;
}
.doServices__colapse .card-body {
  line-height: 24px;
  height: 170px;
}

.testemoniale {
  background-color: #f8f8f8;
}
.testemoniale .carousel-inner {
  width: 85%;
}
.testemoniale .carousel-inner p {
  font-size: 24px;
  line-height: 36px;
}
.testemoniale .carousel-control-next,
.testemoniale .carousel-control-prev {
  font-size: 1.5rem;
}

.team__header {
  width: 90%;
}
.team__header h2 {
  font-size: 30px;
}
.team__header p {
  font-size: 15px;
}
.team__member:hover .team__member__layout {
  opacity: 1;
  box-shadow: 8px 8px #95e1d3;
}
.team__member__layout {
  background: linear-gradient(rgba(219, 116, 117, 0.8), rgba(228, 205, 125, 0.75));
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}
.team__member__layout a {
  background-color: #f6c23a;
}
.team__member__layout a i {
  color: #f38181;
  font-size: 1.5rem;
}
.team__member__layout a:hover {
  background-color: #f38181;
}
.team__member__layout a:hover i {
  color: #fff;
}
.team__caption p {
  font-size: 15px;
}

.services__items i {
  font-size: 2rem;
  color: #95e1d3;
}
.services__items h3 {
  font-size: 14px;
}

.clients {
  background-image: url(/assets/images/clientbg.jpg);
}
.clients__overlay {
  background-color: rgba(237, 237, 237, 0.8);
}
.clients .media .trak::after {
  display: block;
  margin-top: 15px;
}

.about__header {
  width: 90%;
}
.about__header h2 {
  font-size: 30px;
}
.about__header p {
  font-size: 15px;
}
.about__item:hover .about__item__layout {
  opacity: 1;
  box-shadow: 8px 8px #95e1d3;
}
.about__item__layout {
  background: linear-gradient(rgba(219, 116, 117, 0.8), rgba(228, 205, 125, 0.75));
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}
.about__item__layout a i {
  font-size: 1.5rem;
}
.about__item__layout a p {
  font-size: 18px;
}
.about__item__layout a:hover i, .about__item__layout a:hover p {
  color: #f6c23a;
}

.design {
  background-image: url(/assets/images/divicebg.jpg);
}
.design__overlay {
  background-color: rgba(237, 237, 237, 0.8);
}
.design__overlay__smalldevice {
  right: 3%;
  top: 50%;
}

.slider .carousel-inner {
  width: 85%;
}
.slider .carousel-inner p {
  font-size: 24px;
  line-height: 36px;
}
.slider .carousel-control-next, .slider .carousel-control-prev {
  font-size: 1.5rem;
}

:root {
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.full__header {
  background: linear-gradient(rgba(219, 116, 117, 0.6), rgba(228, 205, 125, 0.75)), url(/assets/images/homebg.jpg);
  background-position: center;
  background-size: cover;
}
.full__header .navbar ul li .active {
  color: #f6c23a !important;
}
.full__header .header h1 {
  font-size: 10.714rem;
}
.full__header .header h4 {
  font-family: "Kaushan Script", cursive;
  font-size: 5.142rem;
  font-weight: 700;
}

/*# sourceMappingURL=mystyle.css.map */
