.about {
  &__header {
    width: 90%;
    h4 {
      @extend %h4_styling;
      @media only screen and (max-width: 585px) {
        font-size: 20px;
      }
    }
    h2 {
      font: {
        size: $h2_font;
      }
      @media only screen and (max-width: 585px) {
        font-size: 24px;
      }
      &:after {
        @extend %line_after;
      }
    }
    p {
      font-size: 15px;
    }
  }
  &__item {
    &:hover &__layout {
      opacity: 1;
      box-shadow: 8px 8px $base_color;
    }
    &__layout {
      background: linear-gradient(
        rgba(219, 116, 117, 0.8),
        rgba(228, 205, 125, 0.75)
      );
      top: 0;
      opacity: 0;
      transition: all 0.5s;
      a {
        i {
          font-size: 1.5rem;
        }
        p {
          font-size: 18px;
        }
        &:hover i,
        &:hover p {
          color: #f6c23a;
        }
      }
    }
  }
}
